#clock {
    font-weight:bold;
    text-align:center;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
#clock1, #clock2 {
    font-weight:bolder;
    display:block;
}
#clock1 {
    font-size:30px;
    display:none;
}
#clock2 {
    font-size:100px;
    line-height:85%;
}
#clock1_time {
    white-space:nowrap;
}
#week {
    display:flex;
    font-size:15px;
    justify-content:space-evenly;
    margin: 0 auto;
    color:#757575;
}
