#note {
    font-weight:bold;
    text-align:center;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

#note p span{
    color: white;
    font-size:10px !important;
}

#drive_search {
    margin-bottom:15px;
}

.drive_result {
    font-weight:normal;
    font-size:15px;
    margin:3px;
    transition: all 0.4s ease;
}

.drive_result:hover {
    text-decoration:underline;
    text-decoration-color:black;
}
