* {
    transition:background-color 0.4s ease;
}

body {
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    font-family: Kanit;
    margin: 0;
    overflow:hidden;
    height:100vh;
    transition:opacity 0.4s ease;
}
header {
    height:100px;
}
header:hover .header {
    margin-top:0px;
}
a {
    text-decoration:none;
}

/* HOME PAGE */
.home-body {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/UD7CEz6/blurry-lights-background-placeholder-animation_qktgndhw__F0000.png);
}
.home-text {
    text-align:center;
    position:relative;
    top:50%;
    transform:translateY(-50%);
    color:white;
}
.g-signin {
    padding:20px;
    background-color:grey;
    text-align:center;
}


/* BOARD PAGE */
.ui-icon-gripsmall-diagonal-se {
    width:0 !important;
    height:0 !important;
    border-style:solid;
    border-width:0 0 15px 15px;
    border-color:transparent transparent #717578 transparent;
}
#base-body {
    background-color:#202020;
}
.header {
    margin-top:-90px;
    background-color:rgba(1, 1, 1, 0.47);
    color:white;
    transition:all 0.2s ease;
    padding:20px;
    position:absolute;
    width:100%;
    z-index:1;
    letter-spacing:3px;
}
.header h2 {
    display:inline;
    margin-right:20px;
    cursor:pointer;
}
.header a {
    color:white;
}
#header2 {
    background-color:rgba(0, 0, 0, 0.93);
    margin-top:-105vh;
    z-index:99;
    position:absolute;
    height:96vh;
}
#acc-edit {
    transition:all 0.4s ease;
    z-index:2;
    position:relative;
    cursor:pointer;
}

.acc-logout {
    position:absolute;
    left:20px;
    margin-top:4px;
    opacity:0;
    transition:opacity 0.4s ease;
    z-index:0;
}
.acc-logout-hover {
    opacity:1;
}
.acc-name {
    opacity:1;
    transition:opacity 0.4s ease;
    z-index:1;
    position:relative;
}
.acc-name img {
    width:35px;
    margin-bottom:-8px;
    border-radius:20px;
}
.acc-name-hover {
    opacity:0;
}

#edit-bar {
   position:absolute;
   bottom:0;
   height:50px;
}
#widget-store {
    display:flex;
}
.ws-widget {
    width:200px;
    height:200px;
    margin:50px;
    background-color:rgb(45, 45, 45);
    text-align:center;
    transition:background-color 0.4s ease;
    cursor:pointer;
}
.ws-widget:active {
    background-color:black;;
}
.ws-widget img {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    max-width:75%;
    filter: invert(0.5);
    transition:filter 0.4s ease;
}
#widget-area {
    width:100%;
    height:100%;
    padding:25px;
}
.widget {
    width:250px;
    height:250px;
    position:absolute !important;
    background-color:#4a4a4a;
    color:white;
    transition:all 0.1s ease;
    z-index:0;
    display:inline-block;
}
.widget-i {
    width:100%;
    height:100%;
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    border: 1px solid;
}
.w_base {
    width:-moz-fit-content;
    width:fit-content;
    margin: 0 auto;
    transition: transform 0.1s ease;
}
.ui-resizable-helper {
    background-color:rgba(49, 67, 203, 0.37);
    transition:all 0.1s ease;
    z-index:0;
}
#styles-area {
    height:100px;
    width:100%;
    background-color:black;
    position:absolute;
    display:flex;
    padding:20px;
    bottom:-150px;
    transition:bottom 0.1s ease;
}
.style {
    width:100px;
    height:100px;
    background-color:white;
    margin-right:50px;
    display:flex;
    flex-wrap:wrap;
}
#styles_close {
    width:25px;
    height:25px;
    position:absolute;
    color:white;
    right:50px;
}
.style-descriptor {
    width:50px;
    height:50px;
}

@font-face {
    font-family: 'Monk';
    src: url('../fonts/Monk.otf');
}
