#calendar {
    font-weight:bold;
    text-align:center;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

h1 {
    font-size:15px;
}

#cal_list {
    list-style-type:none;
    text-align:left;
    margin-left:-30px;
    font-size:10px;
    line-height:15px;
}

#cal_list li:hover {
    color:grey; 
    cursor:pointer;
}
