#calendar {
    text-align:center;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

#calendar h1 {
    font-size:15px;
}

#cal_list {
    list-style-type:none;
    text-align:left;
    margin-left:-30px;
    font-size:10px;
    line-height:15px;
}

#cal_list li {
    transition:all 0.4s ease;
    text-decoration-color:rgba(0,0,0,0);
}

#cal_list li:hover {
    color:grey; 
    cursor:pointer;
}

#cal_results_month {
    display:flex;
    flex-wrap:wrap;
    height:100%;
    transition:opacity 0.4s ease;
    opacity:0;
}

#cal_results_week {
    width:125%;
    transform:translateX(-5%);
    height:100%;
    display:flex;
    flex-wrap:wrap;
    opacity:0;
}

#cal_results_day {
    height:105%;
    opacity:0;
}

.day_header {
    font-weight:900;
}

.day_header, .cal_day {
    flex: 0 1 12.5%;
    margin:5px;
}

.cal_day {
    background-color:#757575;
    height:18%;
    overflow:auto;
}

#cal_results_week .cal_day{
    height:90%;
}

#cal_results_day .cal_day  {
    height:100%;
}

#cal_results_day .cal_day h6  {
    font-size:50px;
    text-align:center;
}

#cal_results_day .cal_day p  {
    font-size:30px;
}

.cal_day h6 {
    font-size:15px;
    font-weight:bold;
    margin:1px;
    text-align: left;
    padding:3px;
}

#cal_results_week .cal_day h6 {
    font-size:20px;
    padding:10px;
}

.cal_day p {
    font-size:10px;
    text-align:left;
    margin: 0;
    margin-left:10px;
}

#cal_results_week .cal_day p {
    font-size:20px; 
}

#cal_header{
    font-size:20px;
    font-weight:900;
}
.used_cal_list{
    display:flex;
    font-size:9px;
    flex-wrap:wrap;
    margin-top:2px;
}

.used_cal_list p {
    margin:1px;
}
.item:hover .item-hover {
    opacity:1;
    pointer-events:all;
}
.item-hover {
    pointer-events:none;
    text-align:left;
    opacity:0;
    position:absolute;
    padding:20px;
    transition:all 0.4s ease;
    text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.track {
    top:auto;
    left:auto;
}
